body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  background-size: 100%;
  background-image: url('../public/images/skripti-bg.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
}

